<div class="row mt-3">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-6 col-sm-6">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username"  >
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                  <i class="fas fa-search"></i>
              </span>
            </div>
          </div>

    </div>
    <div class="col-md-3 mt-2 col-sm-2"><i class="fas fa-filter"></i></div>
</div>
